.related-projects {
  padding: 180px 0 100px;
  background-color: var(--color-light);

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;

    @include mobile {
      display: block;
      margin-bottom: 25px;
    }
  }

  &__slider-nav {
    transform: translateX(12px);

    @include mobile {
      transform: none;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 12px;
    max-width: 710px;
  }

  &__learn {
    margin-top: 80px;
  }

  &__items {
    margin: -100px;
    padding: 100px;

    .portfolio-item__title {
      min-height: 52px;
    }
  }
}